.App {
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border:  1px solid black;
  height: 200px;
  width: 300px;
}


.dot {
  height: 150px;
  width: 150px;
  background-color: #bbb;
  border-radius: 100%;
}
 